@charset "utf-8";

body { -webkit-font-smoothing: antialiased; margin: 0; padding: 0; background: #A2D8DD; font-family: 'Helvetica Neue', sans-serif; color: #3d3d3d; }


.clear{ clear: both; }
.bold { font-weight: bold; }
.section { width: 100%; display: block; z-index: 1; position: relative;}
.inner { width: 960px; margin: 0 auto; padding: 40px 20px 40px 20px;}
.left { float: left;  }
.right{ float: right; }
.bottom_pages { background: url(../images/cal_bottom.png) repeat-x; height: 20px; position:absolute; margin-top: -15px; z-index: 299; width: 100%;}
.column { -webkit-column-count: 2; -moz-column-gap:40px; /* Firefox */
-webkit-column-gap:40px; /* Safari and Chrome */
column-gap:40px;} 
span.booked { width: 63px; height: 32px;background: #68B8E3; display: inline-block; border: 1px solid #448FB8; box-shadow: inset 0px 1px 0px #90C9E8; color: #fff; margin: -13px auto; text-shadow: 0px 1px 0px #448FB8;}
.key { margin-top: 30px;}

p { line-height: 1.5em; font-size: 0.8em; }
a { text-decoration: none; color: inherit;}

h1, h2 { font-family: 'Helvetica Neue', sans-serif;}
h2 { font-size: 1.2em;}

#nav { width: 100%; position: relative; z-index: 9999; height: 30px; background: #93c471; padding-top: 30px; }
#nav ul { width: 960px; margin: -5px auto; position: relative; z-index: 99999;  height: 40px;background: #C6A571 url(../images/nav_bg.png)  bottom left no-repeat; margin-top: -4px; border-bottom: 4px solid #7A5417}
#nav li { margin: 5px; font-size: 1em;  float: left; font-weight: bold; text-align: center; padding: 5px; width: 172px;   }

#header { height: 300px; position: fixed; top: 0; z-index: 0; width: 100%;}

#banner { background: url(../images/cottage_banner_new.png) center bottom no-repeat; color: #3d3d3d; margin: 0 auto; height: 300px; margin-top: 20px;}

#intro { background: #93c471; color: #ffffff; }
#intro a { color: white;}
#intro .left .image_area { width: 400px; height: 268px; background: white; padding: 10px; box-shadow: 0px 1px 3px #547f34; margin-top: 25px; -webkit-transform:rotate(-4deg);}
#intro .left .image_area .top { position: absolute; margin-top: 0px; -webkit-transform:rotate(5deg); margin-left: -10px; margin-top: -10px; box-shadow: 0px 1px 3px #888888;}
#intro .left .image_area .img img { width: 100%;}
#intro #cottage { border-top: 3px dashed #7aae56; padding-top: 50px;}
#intro #cottage .column_about{ width: 220px; padding: 10px; float: left;}
#intro #cottage .column_about h2 { height: 20px; font-size: 1em;}
#intro .rating { width: 158px; margin: 63px auto; display: block; background: url(../images/enjoy_england_3.png) center no-repeat; height: 143px;}
#intro .right { width: 450px;}

#facilities { background: #CABA9F url(../images/grass_bottom.png) top repeat-x; height: 200px;}
#facilities .facilities_bar li span.tip { vertical-align: middle; width: 120px;position: absolute; font-weight: bold; display: block; margin: 80px auto;  text-align: center; padding: 5px; font-size: 0.7em; background: #94836F; color: white; border-radius: 3px; opacity: 0;}
#facilities .facilities_bar li span.tip  span.selector { width: 120px; height: 30px; position: absolute; margin-top: -22px; background:url(../images/fac_selector.png) no-repeat center; display: block;}
#facilities .facilities_bar { margin-top: 30px;}
#facilities ul.facilities { width: 800px; margin: 0 auto;}
#facilities ul.facilities li { width: 60px; height: 60px; margin: 10px; background-color: #94836F; border-radius: 5px; float: left; box-shadow: 0px 1px 0px #D1C4B2;}
#facilities ul.facilities li:hover { opacity: 1;}
#facilities ul.facilities li:last-child { clear: right;}
#facilities ul.facilities li.icon { background-repeat: no-repeat; opacity: 0.8; }

/* Icons */

.icon.wifi { background-image: url(../images/icons/wifi.png); }
.icon.parking { background-image: url(../images/icons/parking.png); }
.icon.cost { background-image: url(../images/icons/cost.png); }
.icon.laundry { background-image: url(../images/icons/laundry.png); }
.icon.year{ background-image: url(../images/icons/year.png); }
.icon.smoking{ background-image: url(../images/icons/smoking.png); }
.icon.pets{ background-image: url(../images/icons/pets.png); }
.icon.catering{ background-image: url(../images/icons/catering.png); }
.icon.children{ background-image: url(../images/icons/children.png); }
.icon.beds{ background-image: url(../images/icons/beds.png); }

#locality { background:#CABA9F; padding-bottom: 30px;}
#locality .left{ width: 450px;}

#availability { background:#fff url(../images/cal_top.png) top repeat-x; height: 600px; padding-top: 100px; box-shadow: 0px 2px 2px #cdcdcd;}
#availability .right { width: 350px;}
/* Calendar */

#cal_wrapper {width: 500px; height: 450px; overflow: hidden; margin-bottom: 20px;}
#cal_wrapper .nav_wrapper {margin-top: 0px; position: absolute; }
#cal_wrapper .cal { width: 420px; text-align: center; line-height: 30px; padding-left: 55px; margin-bottom: 40px; }
#cal_wrapper .cal .head { width: 434px; background: #D14F34; text-transform: uppercase; color: #fff; text-align: center; font-weight: bold; border: 1px solid #BD3C22; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; box-shadow: 0px 1px 3px #aeaeae; z-index: 4; height: 70px; font-size: 1.3em; position: relative; text-shadow: 0px 1px 0px #BD3C22; }
#cal_wrapper .cal .day { font-weight: bold; font-size: 0.6em; height: 20px; float: left; width: 62px; display: block; }
#cal_wrapper .cal .month,
#cal_wrapper .cal .days { width: 434px; display: block; }
#cal_wrapper .cal .month { border-bottom: 1px solid #EB765E; padding: 5px 0px 5px 0px; background: #DB563B; }
#cal_wrapper .cal .days { border-bottom: 1px solid #BD3C22 }
#cal_wrapper .top { z-index: 10; position: relative; width: 400px; height: 300px;  margin-left: -100px; }
#cal_wrapper .top li { list-style: none; line-height: 1.5em; font-size: 0.8em; }
#cal_wrapper .cal ul { width: 434px; height: 372px; margin: 0; padding: 0; background: #f9f9f9; border: 1px solid #d6d6d6; border-top: none; box-shadow: 0px 1px 3px #d6d6d6; }
#cal_wrapper .cal ul li { width: 61px; height: 46px; display: block; float: left; list-style: none; border-right: 1px solid #eaeaea; border-top: 1px solid #eaeaea; padding-top: 15px; font-weight: bold; text-align: center; }
#cal_wrapper .cal li.last { border-right: none }
#cal_wrapper .cal span.light { opacity: 0.2 }
#cal_wrapper .cal span.booked { background: #68B8E3; display: block; border: 1px solid #448FB8; box-shadow: inset 0px 1px 0px #90C9E8; color: #fff; width: 100%; margin: 0 auto; text-shadow: 0px 1px 0px #448FB8; margin-left: -1px;}

#cal_nav li { width: 30px; padding: 5px; float: left; text-transform: uppercase; border-radius: 5px; text-align: center; font-size: 0.8em; list-style: none; margin: 0px 0px 0px 5px; }
#cal_nav li:hover { background: #D14F34; color: #ffffff!important; }
#cal_nav li:hover a { color: #ffffff!important;}
#cal_nav li a { color: #3d3d3d!important;}
#cal_nav li.activeSlide { background: #D14F34;}
#cal_nav li.activeSlide span.selector { background: url(../images/cal_selector.png) no-repeat;width: 13px;height: 7px;display: block;position: absolute;margin-top: -12px;margin-left: 9px;}
#cal_nav li.activeSlide a { color: #ffffff!important; }

#contact { padding: 20px 0px 20px 0px; background: #f0f0f0; background: url(../images/wood_bg.png);}
#contact #map { background: #ffffff;width: 1000px; padding: 20px; margin: 0px 20px 0px 20px; box-shadow: 0px 1px 5px #7c6133; overflow: hidden;}
#contact #map_canvas { width: 100%; height: 100%; border: 1px solid #d6d6d6;}
#contact #map .overlay {  position: absolute; display: block; z-index: 200;  margin-left: -20px; margin-top: -20px; opacity: 0.5;}
#contact #map .overlay .square { height: 50px; width: 200px; float: left;}
#contact #map .overlay .square.fold {  background: url(../images/fold_top.png) top left no-repeat;}
#contact .contact { position: absolute; z-index: 99; padding: 10px; width: 300px; height: 480px; right: 80px;}
#contact .contact_bg { position: absolute; z-index: 99; padding: 10px; background: white; width: 320px; height: 460px; right: 70px; box-shadow: 0px 0px  5px #cdcdcd; opacity: 0.9;}
#contact .contact ul { font-size: 0.8em; line-height: 1.5em; font-weight: bold;}

#offers { z-index: 3;border: 1px solid #b0a951; border-top: none; width: 500px; position: relative;  height: 70px; margin: 0 auto; padding: 10px; background: #fff9b1; /* Old browsers */
background: -moz-linear-gradient(top,  #fff9b1 0%, #fffcd1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff9b1), color-stop(100%,#fffcd1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fff9b1 0%,#fffcd1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fff9b1 0%,#fffcd1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fff9b1 0%,#fffcd1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fff9b1 0%,#fffcd1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff9b1', endColorstr='#fffcd1',GradientType=0 ); /* IE6-9 */
}
#offers .dates { width: 98px; height: 60px; background: #f1eba1; padding-top: 10px; border-radius: 3px; float: left; box-shadow: 0px 0px 2px #b0a951; margin-right: 10px; border: 1px dashed #b0a951;}
#offers .dates .number, #offers .dates .month { width: 100px; height: 10px; float: left; text-align: center; padding: 0px 0px 20px 0px; font-weight: bold;}
#offers .dates .number { font-size: 1.4em;}
#offers .event { width: 250px; float: left;}
#offers .event p.title { font-size: 1em; font-weight: bold;-webkit-margin-before: 0em;-webkit-margin-after: 0em;-webkit-margin-start: 0px;-webkit-margin-end: 0px; margin-top: 5px;}
#offers .event p.offer { -webkit-margin-before: 0em;-webkit-margin-after: 0em;-webkit-margin-start: 0px;-webkit-margin-end: 0px; padding-right: 10px;}
#offers .button { width: 130px; float: right; padding-top: 22px; margin-right: 10px;}
#offers .button a { width: 120px; padding: 5px; display:block; vertical-align: middle; background: #4daeeb; border-radius: 3px; border: 1px solid #3477a2; color: white; text-shadow: 0px -1px 0px #3477a2; font-weight: bold; text-align: center; box-shadow: inset 0px 1px 0px #a6cfe8; opacity: 0.8;}
#offers .button a:hover { opacity: 1; cursor: pointer; }
#offers.layer { width: 494px; position: relative;  height: 100px; margin:-117px auto; z-index: 2;}
#offers.layer2 { width: 484px; position: relative;  height: 100px; margin: -117px auto; z-index: 1;}
.dropper {  position: relative; top: -105px;margin: 0 auto;width: 600px; height: 100px;}

.powered_by { width: 200px; margin: 0 auto; text-align: center; color: #774f1d; text-shadow: 0px 1px 0px #f3d3ac;}
h1.rooble { background: url(../images/powered_rooble.png) center no-repeat; display: inline-block; width: 100px; height: 30px; opacity: 0.6; margin-top: -10px;}
h1.rooble:hover { opacity: 1;}
/* RESET */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
th,
td { margin: 0; padding:0; }
table { border-collapse: collapse; border-spacing:0; }
fieldset,
img { border: 0; }
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var { font-style: normal; font-weight:normal; }
ol,
ul { list-style: none; }
caption,
th { text-align: left; }